В файле <i>orders</i> представлена информация о заказах в онлайн-магазине.
```
OrderID - ID Заказа,
UserID - ID клиента,
OrderTime - время заказа,
items - список элементов в заказе, каждый элемент описан словарем:
    ItemID  - ID продукта, 
    price - цена единицы товара, 
    quantity - количество единиц товара в заказе
```
В файле <i>categories</i> представлена информация о категории товаров.
```
ItemID - ID продукта,
Category - категория продукта,
ParentCategory - более крупная категория продукта
```

## Анализ логов продуктового магазина

Представьте, что вы работаете аналитиком онлайн-магазина и ваша цель - повысить GMV (суммарную выручку от продажи товаров). Для этого вы хотите провести ряд исследований и придумать какие-то меры для увеличения выручки.

* Определите, какого числа было сделано больше всего заказов?
* Найдите топ-3 ParentCategory по GMV (суммарная выручка, которую принесла продажа товаров этой категории)
* Напишите функцию, которая принимает на вход OrderID и рекомендует ItemID продукта для корзины этого заказа. Проверьте работу этой функции.

In [1]:
%pip install pandas numpy

Requirement already satisfied: pandas in c:\users\warcr\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.2)
Requirement already satisfied: numpy in c:\users\warcr\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\warcr\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\warcr\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\warcr\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\warcr\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: C:\Users\warcr\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [3]:
# Для скачивания файлов из репозитория в Colab 
# !wget https://raw.githubusercontent.com/da-python/new-modul-python/main/Lesson4/hometask/data/categories.csv -P data
# !wget https://raw.githubusercontent.com/da-python/new-modul-python/main/Lesson4/hometask/data/orders.json -P data

In [3]:
categories = pd.read_csv('data/categories.csv')
orders = pd.read_json('data/orders.json')

In [4]:
categories.head()

    ItemID                 Category  ParentCategory
0  1000002  Сладости для диабетиков        Сладости
1  1000046                     Вода         Напитки
2  1000048  Сладости для диабетиков        Сладости
3  1000049                     Вода         Напитки
4  1000061                   Фрукты  Овощи и фрукты

In [5]:
orders.head()

,OrderID,UserID,OrderTime,items,Date
0,90659865,1.609460e+18,2021-01-01 03:51:42,"[{'ItemID': '413736', 'price': 36.72, 'quantit...",2021-01-01
1,90622054,2.499293e+18,2021-01-01 04:13:13,"[{'ItemID': '961454', 'price': 179.9, 'quantit...",2021-01-01
2,90659952,3.945866e+17,2021-01-01 05:48:53,"[{'ItemID': '306553', 'price': 101.9, 'quantit...",2021-01-01
3,89765281,5.412765e+18,2021-01-01 08:33:41,"[{'ItemID': '979703', 'price': 99.9, 'quantity...",2021-01-01
4,90582308,6.380061e+18,2021-01-01 09:55:35,"[{'ItemID': '303765', 'price': 44.9, 'quantity...",2021-01-01

In [6]:
categories.shape

(35030, 3)

In [7]:
orders.Date.nunique()

181

In [8]:
categories.Category.nunique()

493

In [9]:
categories.ParentCategory.nunique()

17

In [10]:
orders['items'][0]

[{'ItemID': '413736', 'price': 36.72, 'quantity': 2},
 {'ItemID': '523171', 'price': 90.32, 'quantity': 1},
 {'ItemID': '452831', 'price': 223.11, 'quantity': 1},
 {'ItemID': '303673', 'price': 59.9, 'quantity': 7},
 {'ItemID': '318193', 'price': 319.91, 'quantity': 2},
 {'ItemID': '345578', 'price': 159.92, 'quantity': 1},
 {'ItemID': '316140', 'price': 135.92, 'quantity': 2},
 {'ItemID': '444061', 'price': 291.12, 'quantity': 2},
 {'ItemID': '500982', 'price': 36.72, 'quantity': 3},
 {'ItemID': '303682', 'price': 63.26, 'quantity': 2},
 {'ItemID': '308467', 'price': 35.11, 'quantity': 3},
 {'ItemID': '312673', 'price': 289.9, 'quantity': 1},
 {'ItemID': '429288', 'price': 179.9, 'quantity': 1},
 {'ItemID': '306876', 'price': 29.9, 'quantity': 1},
 {'ItemID': '306843', 'price': 75.12, 'quantity': 1},
 {'ItemID': '521581', 'price': 79.92, 'quantity': 1},
 {'ItemID': '303669', 'price': 116.87, 'quantity': 1},
 {'ItemID': '313776', 'price': 99.9, 'quantity': 1},
 {'ItemID': '521656', 'price': 119.9, 'quantity': 1},
 {'ItemID': '315179', 'price': 127.92, 'quantity': 1},
 {'ItemID': '1003647', 'price': 39.92, 'quantity': 6},
 {'ItemID': '363466', 'price': 111.12, 'quantity': 1}]

In [11]:
orders[['OrderID', 'OrderTime']]

        OrderID            OrderTime
0      90659865  2021-01-01 03:51:42
1      90622054  2021-01-01 04:13:13
2      90659952  2021-01-01 05:48:53
3      89765281  2021-01-01 08:33:41
4      90582308  2021-01-01 09:55:35
...         ...                  ...
40370  93920417  2021-06-30 23:40:23
40371  93924602  2021-06-30 23:41:41
40372  93952166  2021-06-30 23:49:12
40373  93955735  2021-06-30 23:56:21
40374  93266815  2021-06-30 23:58:09

[40375 rows x 2 columns]

In [12]:
orders[['OrderTime']]

                 OrderTime
0      2021-01-01 03:51:42
1      2021-01-01 04:13:13
2      2021-01-01 05:48:53
3      2021-01-01 08:33:41
4      2021-01-01 09:55:35
...                    ...
40370  2021-06-30 23:40:23
40371  2021-06-30 23:41:41
40372  2021-06-30 23:49:12
40373  2021-06-30 23:56:21
40374  2021-06-30 23:58:09

[40375 rows x 1 columns]

In [13]:
# Определите какого числа было сделано больше всего заказов - 05.02.2021 было сделано больше всего заказов
orders.groupby('Date')['OrderID'].count().reset_index().nlargest(1,'OrderID')

         Date  OrderID
35 2021-02-05      342

In [14]:
# Найдите топ-3 ParentCategory по GMV (суммарная выручка, которую принесла продажа товаров этой категории)
exploded_orders = orders.explode('items', ignore_index = True)
exploded_orders.head()

,OrderID,UserID,OrderTime,items,Date
0,90659865,1.609460e+18,2021-01-01 03:51:42,"{'ItemID': '413736', 'price': 36.72, 'quantity...",2021-01-01
1,90659865,1.609460e+18,2021-01-01 03:51:42,"{'ItemID': '523171', 'price': 90.32, 'quantity...",2021-01-01
2,90659865,1.609460e+18,2021-01-01 03:51:42,"{'ItemID': '452831', 'price': 223.11, 'quantit...",2021-01-01
3,90659865,1.609460e+18,2021-01-01 03:51:42,"{'ItemID': '303673', 'price': 59.9, 'quantity'...",2021-01-01
4,90659865,1.609460e+18,2021-01-01 03:51:42,"{'ItemID': '318193', 'price': 319.91, 'quantit...",2021-01-01

In [15]:
pd.json_normalize(exploded_orders['items'])

        ItemID   price  quantity
0       413736   36.72         2
1       523171   90.32         1
2       452831  223.11         1
3       303673   59.90         7
4       318193  319.91         2
...        ...     ...       ...
852813  439036   17.50         1
852814  303765    6.56         1
852815  341794   69.90         1
852816  307216    2.99         1
852817  322455    9.68         1

[852818 rows x 3 columns]

In [16]:
all_orders = pd.concat([exploded_orders.drop('items', axis = 1), \
           pd.json_normalize(exploded_orders['items'])], axis = 1)
all_orders.head()

,OrderID,UserID,OrderTime,Date,ItemID,price,quantity
0,90659865,1.609460e+18,2021-01-01 03:51:42,2021-01-01,413736,36.72,2
1,90659865,1.609460e+18,2021-01-01 03:51:42,2021-01-01,523171,90.32,1
2,90659865,1.609460e+18,2021-01-01 03:51:42,2021-01-01,452831,223.11,1
3,90659865,1.609460e+18,2021-01-01 03:51:42,2021-01-01,303673,59.90,7
4,90659865,1.609460e+18,2021-01-01 03:51:42,2021-01-01,318193,319.91,2

In [17]:
all_orders['GMV'] = all_orders.price * all_orders.quantity
all_orders.head()

,OrderID,UserID,OrderTime,Date,ItemID,price,quantity,GMV
0,90659865,1.609460e+18,2021-01-01 03:51:42,2021-01-01,413736,36.72,2,73.44
1,90659865,1.609460e+18,2021-01-01 03:51:42,2021-01-01,523171,90.32,1,90.32
2,90659865,1.609460e+18,2021-01-01 03:51:42,2021-01-01,452831,223.11,1,223.11
3,90659865,1.609460e+18,2021-01-01 03:51:42,2021-01-01,303673,59.90,7,419.30
4,90659865,1.609460e+18,2021-01-01 03:51:42,2021-01-01,318193,319.91,2,639.82

In [18]:
ord_cat = pd.merge(all_orders, categories, how='inner', left_index=True, right_on='ItemID')
ord_cat.head()

,ItemID,OrderID,UserID,OrderTime,Date,ItemID_x,price,quantity,GMV,ItemID_y,Category,ParentCategory
5320,303665,91418396,8.420668e+18,2021-02-27 22:27:56,2021-02-27,318617,46.9,1,46.9,303665,Чай,Напитки
5321,303666,91418396,8.420668e+18,2021-02-27 22:27:56,2021-02-27,314354,109.9,1,109.9,303666,Овощи,Овощи и фрукты
5322,303669,91418396,8.420668e+18,2021-02-27 22:27:56,2021-02-27,314397,24.9,2,49.8,303669,Фрукты,Овощи и фрукты
5323,303670,91418396,8.420668e+18,2021-02-27 22:27:56,2021-02-27,954346,89.9,1,89.9,303670,Фрукты,Овощи и фрукты
5324,303671,91418396,8.420668e+18,2021-02-27 22:27:56,2021-02-27,309378,46.9,1,46.9,303671,Фрукты,Овощи и фрукты

In [19]:
ord_cat.groupby('ParentCategory').sum('GMV').sort_values('GMV').GMV.tail(3)
#топ-3 ParentCategory: Бакалея, Красота.., Молочная продукция

ParentCategory
Молочная продукция            533982.08
Красота, гигиена, здоровье    542425.46
Бакалея                       746457.78
Name: GMV, dtype: float64

In [20]:
# Напишите функцию,которая принимает на вход OrderID и рекомендует ItemID продукта для корзины этого заказа. 
# Проверьте работу этой функции.
def print_recomend(ord_cat):
    {print(f"Номер {number} продукта для корзины заказа")
     for number in ord_cat.ItemID()}
    return print('ItemID')

In [35]:
! pip install scikit-learn
from sklearn.metrics.pairwise import cosine_similarity

Collecting scikit-learn
  Downloading scikit_learn-1.5.2-cp311-cp311-win_amd64.whl.metadata (13 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\warcr\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (2.1.1)
Requirement already satisfied: scipy>=1.6.0 in c:\users\warcr\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (1.14.1)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.5.2-cp311-cp311-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB 660.6 kB/s eta 0:00:17
   ---------------------------------------- 0.1/11.0 MB 1.2 MB/s eta 0:00:10
    --------------------------------------- 0.2/11.0 MB 1.8 MB/s eta 0:00:06
   - -------------------------------------- 0.5/11.0 MB 2.9 MB/s eta 0:00:04
   --- ------------------------------------ 1.0/11.0 MB 4.6 MB/s eta 0:00:03
   ----- ---------------------------------- 1.5/11.0 MB 5.5 MB/s eta 0:00:02
   --------- ------------------------------ 2.6/11.0 MB 7.9 MB/s eta 0:00:02
   ---------------- ----------------------- 4.7/11.0 MB 12.9 MB/s eta 0:00:01
   --------------------- ------------------ 5.9/11.0 MB 14.5 MB/s eta 0:00:01
   ------------------------------ --------- 8.5/11.0 MB 18.8 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 36.4 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 32.8 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
   ---------------------------------------- 0.0/301.8 kB ? eta -:--:--
   --------------------------------------- 301.8/301.8 kB 18.2 MB/s eta 0:00:00
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.5.2 threadpoolctl-3.5.0

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: C:\Users\warcr\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [24]:
train_orders = orders[:int(len(orders)*0.8)]
test_orders = orders[int(len(orders)*0.8):]

In [39]:
def recommend_item(order_id, order_items):
    items = order_items.copy()

In [44]:
order_items = {'1': ['Item1'], '2': ['Item2']}

def recommend_item(order_id, order_items):
    items = order_items.copy()
    print(items)

recommend_item(1, order_items)

{'1': ['Item1'], '2': ['Item2']}

In [90]:
def recommend_item(order_id, order_items):
    # Предполагаем, что `order_items` уже инициализирован как DataFrame
    items = order_items.copy()
    
    # Исключаем текущие элементы из возможных рекомендаций
    current_items = [i[1] for i in items if i[0] == order_id]
    new_items = items[~items['ItemID'].isin(current_items)]
    
    # Преобразуем DataFrame в матрицу покупок
    transactions = new_items.pivot(index='UserID', columns='ItemID', values='Quantity').fillna(0)
    
    # Вычисляем косинусные расстояния между пользователями и товарами
    similarities = cosine_similarity(transactions.T, dense_output=False)
    
    # Рекомендуем топ-N товаров, которые пользователь еще не купил
    top_n = 5
    for _, row in transactions.iterrows():
        scores = similarities[row.name]
        item_ids = transactions.columns[scores.argsort()[-top_n:][::-1]]
        
        # Добавляем рекомендованные ItemID в список
        recommended_items += [(order_id, item_id) for item_id in item_ids if item_id not in current_items]
    
    return recommended_items

In [94]:
test_order_id = 100
test_order_items = pd.DataFrame({
    ('100', 'Item1'): 1,
    ('100', 'Item2'): 2,
    ('100', 'Item3'): 3
})
recommended_items = recommend_item(test_order_id, test_order_items)
print(recommended_items)

ValueError: If using all scalar values, you must pass an index